
<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
  <!-- style="background-color: #5fbae9;" -->
  <a class="navbar-brand" routerLink="/home">Gringotts!!!</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link">{{currentUser.name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Cuenta: {{currentUser.cuenta}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Saldo: {{currentUser.saldo}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">|</a>
        </li>
        <li class="nav-item">
            <input type="button" (click)="logout()" class="btn btn-primary" value="Log Out">
        </li>
    </ul>
  </div>
  

</nav>