<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
    <!-- style="background-color: #5fbae9;" -->
    <a class="navbar-brand" routerLink="/admin">Gringotts</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link">Administrador</a>
        </li>
        <li class="nav-item">
          <input type="button" (click)="logout()" class="btn btn-primary" value="Log Out">
        </li>
      </ul>
    </div>
    
  
  </nav>

<div class="row">
    <div class="col-xl-6">
        <div class="row">

            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Transferencias Realizadas</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-6 p-4">
                                <input type="button" (click)="getPagos()" class="btn btn-primary" value="Pagos">
                            </div>
                            <div class="col-md-6 p-4">
                                <input type="button" (click)="getCobros()" class="btn btn-primary" value="Cobros">
                            </div>

                            <div class="col-12">
                                <h4>{{titleTrans}} </h4>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Origen</th>
                                        <th scope="col">Destino</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor = "let data of historialTrans;  let i = index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{data.monto}}</td>
                                        <td>{{data.fecha.replace('T',' ').replace(':00.000Z','')}}</td>
                                        <td>{{data.origen}}</td>
                                        <td>{{data.destino}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-6">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Solicitudes de Créditos</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-4 p-4">
                                <input type="button" (click)="getPendientes()" class="btn btn-primary" value="Pendientes">
                            </div>
                            <div class="col-md-4 p-4">
                                <input type="button" (click)="getAprobados()" class="btn btn-primary" value="Aprobados">
                            </div>
                            <div class="col-md-4 p-4">
                                <input type="button" (click)="getPagados()" class="btn btn-primary" value="Pagados">
                            </div>

                            <div class="col-12">
                                <h4>{{titleCred}} </h4>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Fecha Límite</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor = "let data of historialCred;  let i = index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{data.nombre}}</td>
                                        <td>{{data.monto}}</td>
                                        <td>{{data.fechapedido.replace('T',' ').replace(':00.000Z','').replace('06:00','')}}</td>
                                        <td>{{data.descripcion}}</td>
                                        <td *ngIf="data.fechafinal != null; else notShow">{{data.fechafinal.replace('T',' ').replace(':00.000Z','').replace('06:00','')}}</td>
                                        <ng-template #notShow>
                                            <td><input type="button" (click)="aprobarSolicitud(data)" class="btn btn-primary" value="Aprobar"></td>
                                        </ng-template>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



