<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
    <!-- style="background-color: #5fbae9;" -->
    <a class="navbar-brand" routerLink="/login">Gringotts</a>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-primary" routerLink="/login" >Iniciar Sesion</button>
            </li>
        </ul>
    </div>

</nav>


<div class="wrapper mt-5">
    <h1>Gringotts!</h1>
    <div id="formContent">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 p-4">
                <form>
                    <div class="form-group">
                        <input type="text" id="fullname" name="login" placeholder="Fullname" (keyup)="fullname($event)">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="Username" (keyup)="user($event)">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>

                    <div class="form-group">
                        <input type="text" id="email" name="email" placeholder="Email" (keyup)="email($event)">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    
                    <input type="password" id="password" name="login" placeholder="Password" (keyup)="pass($event)">
                    <input type="password" id="passwordConfirm" name="login" placeholder="Confirm Password"
                        (keyup)="confirmPass($event)">
                </form>
            </div>
        </div>
        <input type="button" value="Registrar" (click)="signin()">
    </div>
</div>